DATABASE_URL=postgresql+asyncpg://annotation:annotation@localhost:5432/annotation_tool
SECRET_KEY=ae4786ea51b3892168a70bb6898f42594ef8da62f9712c13fbd9480fdfed7945
ACCESS_TOKEN_EXPIRE_MINUTES=1440
BCRYPT_ROUNDS=12
ANTHROPIC_API_KEY=sk-ant-*******